<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>E-commerce</title>
</head>
<body>
<style>
    /* style.css */

/* Add a background color to the navbar */
.navbar {
    background-color: #007BFF;
}

/* Change text color and font for the navbar links */
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

/* Style the jumbotron */
.jumbotron {
<!--    background: url('your-background-image.jpg') center center;-->
<!--    background-size: cover;-->
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

/* Style the cards */
.card {
    border: none;
}

/* Add a shadow and animation on card hover */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* Style the buttons in cards */
.card-link {
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

/* Change button color on hover */
.card-link:hover {
    background-color: #0056b3;
}

/* Center card content */
.card-body {
    text-align: center;
}

/* Style the footer if needed */
 .footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="40"
                 class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <!--                <li class="nav-item active">-->
                <!--                    <a class="nav-link" th:href="@{/admin}" href="#">admin-home</a>-->
                <!--                </li>-->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-5">Admin dashboard</h1>
    <h1 class="display-4">Welcome back, <span th:text="${#authentication.principal.firstName}"></span></h1>
    <p>Easily manage your data from this admin</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="weeklyChart()">Weekly Chart</button>
            <button class="btn btn-primary" onclick="monthlyChart()">Monthly Chart</button>
            <button class="btn btn-primary" onclick="yearlyChart()">Yearly Chart</button>
            <div class="row">
                <div class="col">
                    <canvas id="myCharts" style="max-width: 500px; height: 400px"></canvas>
                </div>
                <div class="col">
                    <canvas id="myLineChart" style="max-width:500px; height:400px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>





<!--<canvas id="myCharts" style="width:50%;max-width:500px"></canvas>-->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="background-color:MediumSeaGreen;">
                <div class="card-body">
                    <h4 class="card-title">TODAY</h4>
                    <h5 class="card-text">ORDER COUNT:<span th:text="${orderCount}"></span></h5>
                    <p class="card-text">REVENUE:<span th:text="${revenue}"></span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:MediumSeaGreen;">
                <div class="card-body">
                    <h4 class="card-title">THIS WEEK</h4>
                    <p class="card-text">ORDER COUNT:<span th:text="${weeklyOrderCount}"></span></p>
                    <p class="card-text">REVENUE:<span th:text="${weeklyRevenue}"></span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:MediumSeaGreen;">
                <div class="card-body">
                    <h4 class="card-title">THIS MONTH</h4>
                    <p class="card-text">ORDER COUNT:<span th:text="${monthlyOrderCount}"></span></p>
                    <p class="card-text">REVENUE:<span th:text="${monthlyRevenue}"></span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:MediumSeaGreen;">
                <div class="card-body">
                    <h4 class="card-title">THIS YEAR</h4>
                    <p class="card-text">ORDER COUNT:<span th:text="${yearlyOrderCount}"></span></p>
                    <p class="card-text">REVENUE:<span th:text="${yearlyRevenue}"></span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Categories</h4>
                    <p class="card-text">Manage the categories section here.</p>
                    <a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <p class="card-text">Manage all the products here.</p>
                    <a href="#" th:href="@{/admin/products}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text">Manage the User section here.</p>
                    <a href="#" th:href="@{/admin/userManagement}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Orders</h4>
                    <p class="card-text">Manage the Orders section here.</p>
                    <a href="#" th:href="@{/admin/orders}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Coupon</h4>
                    <p class="card-text">Manage the coupons section here.</p>
                    <a href="#" th:href="@{/admin/coupon}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Product Variants</h4>
                    <p class="card-text">Manage the variants section here.</p>
                    <a href="#" th:href="@{/admin/variants}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Stock management</h4>
                    <p class="card-text">Manage inventory section here.</p>
                    <a href="#" th:href="@{/admin/inventory}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Sales report</h4>
                    <p class="card-text">Manage sale related section here.</p>
                    <a href="#" th:href="@{/admin/salesReport}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Banner management</h4>
                    <p class="card-text">Manage sale related section here.</p>
                    <a href="#" th:href="@{/admin/banner}" class="card-link btn btn-primary">Manage</a>
                </div>
            </div>
        </div>


    </div>
</div>


<script th:inline="javascript">
    var xValues = [[(${data})]];
    var yValues = [[(${labels})]];
    var barColors = ["red", "green", "blue", "orange", "brown"];
    var myChart; // Declare the variable here

    // Create the chart initially
    myChart = new Chart("myCharts", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                label: 'weekly orders',
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Weekly Orders"
            }
        }
    });

    const xValuesLine =[[(${revenue})]];
    var yValuesLine = [[(${labelsRevenue})]];
    console.log('xValuesLine',xValuesLine);
    console.log('yValuesLine',yValuesLine);

    var lineData = {
    labels: xValuesLine,
    datasets: [{
        label: 'line chart data',
        borderColor: "blue",
        data: yValuesLine
    }]
};

var lineOptions = {
    legend: { display: false },
    title: {
        display: true,
        text: "Line Chart"
    }
};

// Create the line chart with sample data
var lineChart = new Chart("myLineChart", {
    type: "line",
    data: lineData,
    options: lineOptions
});



    // Function to update chart data
    function weeklyChart() {
        // Generate new data values (you can fetch these from your server or other source)
        var newXValues =[[(${data})]];
        var newYValues =[[(${labels})]];

        // Update the chart data
        myChart.data.labels = newXValues;
        myChart.data.datasets[0].data = newYValues;
        myChart.data.datasets[0].label = 'weekly orders';


        // Redraw the chart
        myChart.update();
    }
      function monthlyChart() {
        // Generate new data values (you can fetch these from your server or other source)
        var newXValues = [[(${monthlyData})]];
        var newYValues = [[(${monthlyLabel})]];

        // Update the chart data
        myChart.data.labels = newXValues;
        myChart.data.datasets[0].data = newYValues;
        myChart.data.datasets[0].label = 'monthly orders';



        myChart.update();
    }
      function yearlyChart() {
        // Generate new data values (you can fetch these from your server or other source)
        var newXValues = [[(${yearlyData})]];
        var newYValues = [[(${yearlyLabel})]];

        // Update the chart data
        myChart.data.labels = newXValues;
        myChart.data.datasets[0].data = newYValues;
        myChart.data.datasets[0].label = 'yearly orders';


        // Redraw the chart
        myChart.update();
    }

</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>