<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OTP Verification</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="mb-3">OTP Verification</h1>
                <p th:if="${wrongOtp}" class="text-danger" th:text="${wrongOtp}"></p>
                <p>Enter the OTP sent to your email to verify your account.</p>
            </div>
            <form th:action="@{/verifyAccount}" method="post">
                <div class="form-group">
                    <label for="otp">OTP:</label>
                    <input type="text" id="otp" name="otp" class="form-control" required>
                </div>
                <div class="form-group">
                    <!-- Use Thymeleaf to set the value of email input -->
                    <input type="hidden" id="email" name="email" th:value="${param.email}" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Verify</button>
                </div>
            </form>
            <form th:action="@{/resendOTP}" method="post">
                <div class="text-center mt-3">
                    <input type="hidden"  name="email" th:value="${param.email}" required>


                    <button type="submit" class="btn btn-secondary">Resend OTP</button>



                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Function to simulate OTP verification
    function simulateOTPVerification() {
        return Math.random() < 0.5; // Simulating successful verification half the time
    }

    // Function to redirect to the login page
    function redirectToLogin() {
        window.location.href = '/login'; // Replace '/login' with the actual URL of your login page
    }

    // Simulate OTP verification when the "Verify OTP" button is clicked
    document.getElementById("verifyBtn").addEventListener("click", function() {
        var otpVerified = simulateOTPVerification();

        if (otpVerified) {
            // Call the redirection function if OTP is verified
            alert("OTP is verified. You will be redirected to the login page after 5 seconds.");
            setTimeout(redirectToLogin, 5000); // 5000 milliseconds (5 seconds)
        } else {
            alert("OTP verification failed. Please try again.");
        }
    });
</script>
</body>
</html>
