<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart Example</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div style="width: 60%; margin: 0 auto;">
    <canvas id="myChart"></canvas>
</div>
<br>

<canvas id="myCharts" style="width:100%;max-width:600px"></canvas>


<script th:inline="javascript">

<!--    /* Define your data dynamically using Thymeleaf */-->
<!--    var data = [[(${data})]];-->
<!--    var labels = [[(${labels})]];-->

<!--    var ctx = document.getElementById('myChart').getContext('2d');-->
<!--    var myChart = new Chart(ctx, {-->
<!--        type: 'bar', // Change the chart type as needed-->
<!--        data: {-->
<!--            labels: labels,-->
<!--            datasets: [{-->
<!--                label: 'Total orders (daily)',-->
<!--                data: data,-->
<!--                backgroundColor: 'rgba(75, 192, 192, 0.2)',-->
<!--                borderColor: 'rgba(75, 192, 192, 1)',-->
<!--                borderWidth: 1-->
<!--            }]-->
<!--        },-->
<!--        options: {-->
<!--            scales: {-->
<!--                y: {-->
<!--                    beginAtZero: true-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    });-->
    var xValues = [[(${data})]];
var yValues = [[(${labels})]];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myCharts", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
  }
});
</script>
</body>
</html>
