<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>E-commerce</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="38" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/}" href="#"><span th:text="${#authentication.principal.firstName}"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user}" href="#">User Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <a th:href="@{/user/orders}"></a>

        <div th:each="order, iStat : ${orderDetails}" class="col-md-8 mb-4">
            <div class="card">
                <div class="card-body">
                    <p th:if="${successRefund}" class="text-success" th:text="${successRefund}"></p>

                    <h5 class="card-title">Order #<span th:text="${order.id}"></span></h5>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Image</th>
                            <th>Variant</th>
                            <th>Quantity</th>
                            <th>Price</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${order.orderItems}">
                            <td th:text="${item.product.name}"></td>
                            <td>
                                <img  th:src="@{${'/productImages/' + item.product.imageName}}"  alt="Product Image" width="100" height="100" src="">
                            </td>
                            <td>
                                <p class="mb-3 text-uppercase small" th:if="${item.productVariants?.productColor?.color != null or item.productVariants?.productSize?.size != null}">
                                    variant: <span th:text="${item.productVariants?.productColor?.color} + ' , ' + ${item.productVariants?.productSize?.size}"></span>
                                </p>
                            </td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${item.product.price+'/-'}"></td>


                        </tr>
                        </tbody>
                    </table>
                    <p class="card-text"><strong>Address:</strong> <span th:text="${order.address.name}"></span></p>

                    <p class="card-text"><strong>Phone No:</strong> <span th:text="${order.address.phoneNo}"></span></p>
                    <p class="card-text"><strong>Order Date:</strong> <span th:text="${#temporals.format(order.localDateTime, 'yyyy-MM-dd')}"></span></p>
                    <p class="card-text"><strong>Status:</strong> <span th:text="${order.orderStatus.status}"></span></p>
                    <p class="card-text text-danger font-italic"><strong>Payment Method:</strong> <span th:text="${order.paymentMethod.name}"></span></p>
                    <p class="card-text text-success"><strong>Total Amount:</strong> <span th:text="${order.amount+'/-'}"></span></p>
                    <a th:if="${order.isNotCancelled()} and ${order.isNotReturned()} and ${order.isNotDelivered()}" th:href="@{/user/order/cancel/{id}(id=${order.id})}" class="btn btn-danger" th:onclick="if(!(confirm('Are you sure you want to cancel this order ?') )) return false">Cancel</a>
                    <a th:if="${!order.isNotDelivered()}" th:href="@{/user/order/return/{id}(id=${order.id})}" class="btn btn-primary" th:onclick="if(!(confirm('Are you sure you want to return this order ?') )) return false">return?</a>

                    <br><br>
                </div>
            </div>
        </div>

    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
