<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>E-commerce</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="38" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/}" href="#" ><span th:text="${#authentication.principal.firstName}"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user}" href="#">User Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">


    <a th:href="@{/user/addressAdd}" style="margin: 20px 0" class="btn btn-primary">Add Address</a>
    <p th:if="${message}" class="text-danger" th:text="${message}"></p>
    <p th:if="${message1}" class="text-success" th:text="${message1}"></p>




    <div class="row">
        <div th:each="address, iStat : ${userAddress}" class="col-md-4 mb-4 ">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title" th:text="${address.name}"></h5>
                    <p class="card-text"><strong>Address:</strong> <span th:text="${address.address}"></span></p>
                    <p class="card-text"><strong>Pincode:</strong> <span th:text="${address.pincode}"></span></p>
                    <p class="card-text"><strong>Phone No:</strong> <span th:text="${address.phoneNo}"></span></p>
                    <p class="card-text"><strong>City:</strong> <span th:text="${address.city}"></span></p>
                    <p class="card-text"><strong>Land Mark:</strong> <span th:text="${address.landmark}"></span></p>

                    <a th:if="${!address.isDefault()}" th:href="@{/user/address/default/{id}(id=${address.id})}" class="btn btn-primary">Set as Default</a>

                    <span th:if="${address.isDefault()}" class="default-address text-secondary">Default Address</span>


                    <br><br>

                    <a href="" th:href="@{/user/address/delete/{id}(id=${address.id})}" class="btn btn-danger" th:onclick="if(!(confirm('Are you sure you want to delete this User ?') )) return false">Delete</a>
                    <a href="" th:href="@{/user/address/update/{id}(id=${address.id})}" class="btn btn-warning">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
