<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>E-commerce</title>
</head>
<body>
<style>
    /* Add this CSS to change the color of the data slide next icon */
    .carousel-control-next-icon {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path d="M5.854 8.354a.5.5 0 0 1 0 .708l4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0l-4 4z"/></svg>');
        background-color: #FF5733; /* Change this color to your desired color */
        /* You can adjust the color and other styles as needed */

         .carousel-control-prev-icon {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path d="M5.854 8.354a.5.5 0 0 1 0 .708l4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0l-4 4z"/></svg>');
        background-color: #FF5733; /* Change this color to your desired color */
        /* You can adjust the color and other styles as needed */
    }
</style>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt="E-commerce Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" href="#">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shop}" href="#">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">
                        Logout
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cart}" sec:authorize="isAuthenticated()" href="#">
                        <i class="fas fa-shopping-cart"></i> Cart
                        <span class="badge badge-danger" th:text="${cartCount}">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/}" href="#">
                        <i class="fas fa-user"></i> <span th:text="${#authentication.principal.firstName}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav><div class="container mt-5">
    <div class="row">

        <!-- Carousel -->
        <div class="col-sm-5">
            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="mt-5" height="300px" width="300px" src=""
                             th:src="@{${'/productImages/' + product.imageName}}"
                             alt=""></div>
                    <div class="carousel-item" th:each="image : ${product.productImages}">
                        <img class="mt-5" height="300px" width="300px" src=""
                             th:src="@{${'/productImages/' + image.imageName}}"
                             alt=""></div>
                    <!-- Add more carousel items as needed -->
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <div class="col-sm-7 mt-5">
            <p th:if="${errorVariant}" class="text-danger" th:text="${errorVariant}"></p>
            <p th:if="${addedToCart}" class="text-success" th:text="${addedToCart}"></p>
            <form th:action="@{/addToCart}" method="post">
            <!-- Product information -->
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.category.name}"></p>
            <h2>₹ <span th:text="${product.price}"></span></h2>
            <h5>Weight:
                <span th:text="${product.weight}"></span> grams.
            </h5>
            <p th:text="${product.description}"></p>



            <div class="col-sm-6" th:if="${product.productVariants}">
                <h6>Select Variant:</h6>
                <div class="row">
                    <div class="col-md-6">
                        <label for="variantSize">Size:</label>
                        <select name="selectedVariantSize" id="variantSize" class="form-control">
                            <option value="">-- Select Size --</option>
                            <div  th:each="productVariant : ${product.productVariants}">
                                <option th:value="${productVariant.id}">
                                    <span th:text="${productVariant?.productSize?.size}"></span>
                                </option>
                            </div>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="variantColor">Color:</label>
                        <select name="selectedVariantColor" id="variantColor" class="form-control">
                            <option value="">-- Select Color --</option>
                            <div th:each="productVariant : ${product.productVariants}">
                                <option th:value="${productVariant.id}">
                                    <span th:text="${productVariant?.productColor?.color}"></span>
                                </option>
                            </div>
                        </select>
                    </div>
                </div>
            </div>

                <input type="hidden" name="productId" th:value="${product.id}" />
            <br>
                <div th:if="${product.quantity > 0}">
                    <!-- Product details here -->
                    <button type="submit" class="btn btn-primary">Add to cart</button>

                </div>
<!--                <button type="submit" class="btn btn-primary">Add to cart</button>-->
                <div th:if="${product.quantity == 0}">
                    <p>Out of Stock</p>
                </div>
                <h5>Rating:</h5>
<!--                <div class="rating">-->
<!--                    <span class="fa fa-star" th:each="i : ${#numbers.sequence(1, product.rating)}"></span>-->
<!--                    <span class="fa fa-star-o" th:each="i : ${#numbers.sequence(product.rating + 1, 5)}"></span>-->
<!--                </div>-->

            </form>
        </div>
        <h4 th:if="${alreadyPresent}" class="text-warning" th:text="${alreadyPresent}"></h4>
        <div id="addToCartSuccessMessage" class="alert alert-success mt-3" style="display: none;">
            Product added to cart!
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addToCartButton = document.getElementById("addToCartButton");
        const successMessage = document.getElementById("addToCartSuccessMessage");

        addToCartButton.addEventListener("click", function () {
            // Hide the "Add to Cart" button
            addToCartButton.style.display = "none";

            // Display the success message with animation
            successMessage.style.display = "block";
            successMessage.classList.add("animate__animated", "animate__fadeInUp");

            // Automatically hide the message after a few seconds (adjust the delay as needed)
            setTimeout(function () {
                successMessage.style.display = "none";
                // Show the "Add to Cart" button again
                addToCartButton.style.display = "block";
            }, 9000); // Adjust the delay (in milliseconds) as needed
        });
    });
</script>

</body>
</html>